#  Node.js
node_modules/
package-lock.json

#  Logs
logs
*.log

# Env Files
.env
.env.*

#  VSCode
.vscode/

#  Uploads
uploads/
!uploads/.gitkeep

# Coverage (for testing)
coverage/
.nyc_output/

# OS/Editor Specific
.DS_Store
Thumbs.db

# Cache
.cache/
.parcel-cache/
.next/
dist/
out/
*.tsbuildinfo

# Temporary
*.tgz
*.pid
*.seed
*.pid.lock

#  Yarn
.yarn/*
.pnp.*

# Others
npm-debug.log*
yarn-debug.log*
yarn-error.log*
